### 1. Ler e exibir um arquivo CSV usando pandas

In [0]:
import pandas as pd
df_novo = spark.read.csv('/FileStore/tables/retail.csv', header=True, sep=',')
df_novo = df_novo.toPandas()

### 2. Selecionar colunas específicas de um DataFrame usando pandas

In [0]:
df_novo[['invoice_no','quantity']]

,invoice_no,quantity
0,536365,6
1,536365,6
2,536365,8
3,536365,6
4,536365,6
...,...,...
541904,581587,12
541905,581587,6
541906,581587,4
541907,581587,4
541908,581587,3

### 3. Filtrar linhas com base em uma condição usando pandas

In [0]:
df_novo.loc[df_novo['stock_code'] == "85123A"]

,invoice_no,stock_code,description,quantity,invoice_date,unit_price,customer_id,region
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/10 8:26,"2,55",17850,United Kingdom
49,536373,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/10 9:02,"2,55",17850,United Kingdom
66,536375,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/10 9:32,"2,55",17850,United Kingdom
220,536390,85123A,WHITE HANGING HEART T-LIGHT HOLDER,64,12/1/10 10:19,"2,55",17511,United Kingdom
262,536394,85123A,WHITE HANGING HEART T-LIGHT HOLDER,32,12/1/10 10:39,"2,55",13408,United Kingdom
...,...,...,...,...,...,...,...,...
539342,581439,85123A,CREAM HANGING HEART T-LIGHT HOLDER,1,12/8/11 16:30,"5,79",None,United Kingdom
539979,581452,85123A,WHITE HANGING HEART T-LIGHT HOLDER,32,12/8/11 18:03,"2,55",17675,United Kingdom
540217,581472,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/8/11 19:55,"2,95",15796,United Kingdom
540837,581492,85123A,CREAM HANGING HEART T-LIGHT HOLDER,3,12/9/11 10:03,"5,79",None,United Kingdom
541639,581538,85123A,CREAM HANGING HEART T-LIGHT HOLDER,1,12/9/11 11:34,"2,95",14446,United Kingdom

### 4. Agrupar dados com base em uma coluna usando pandas

In [0]:
df_novo.groupby('region')
df_novo

,invoice_no,stock_code,description,quantity,invoice_date,unit_price,customer_id,region
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/10 8:26,"2,55",17850,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/10 8:26,"3,39",17850,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/10 8:26,"2,75",17850,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/10 8:26,"3,39",17850,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/10 8:26,"3,39",17850,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/11 12:50,"0,85",12680,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/11 12:50,"2,1",12680,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/11 12:50,"4,15",12680,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/11 12:50,"4,15",12680,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/11 12:50,"4,95",12680,France

### 5. Usar a função max em alguma coluna do DataFrame

In [0]:
df_novo['unit_price'].max()

Out[13]: '99,96'